/** @format */

:root {
  --primary: #df8b3c;
  --secondary: #ddbb57;
  --error: #e7195a;
  --background: #ddbb57;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
  padding-left: 20px;
  color: var(--primary);
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: white;
  border-radius: 4px;
}

button {
  align-self: center;
  width: auto;
}

label {
  display: flex;
  gap: 10px;
}

.query-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: white;
  border-radius: 4px;
  max-width: 700px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  gap: 12px;
  /* justify-content: center; */
  width: 100%;
  height: 100vh;
}

.input-container {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: nowrap;
  max-width: 100%;
}

.base-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  max-width: 700px;
}

.base-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: white;
  border-radius: 4px;
  max-width: 500px;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topbar-text {
  color: var(--primary);
}
